@import url("http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic&subset=latin,cyrillic");

@charset "UTF-8";

.s {
  display: inline-block;
  vertical-align: middle;
}

.s {
  background-image: url("images/sprite.png");
}

.s--header_logo {
  width: 300px;
  height: 154px;
  background-position: 0px -84px;
}

.s--logo {
  width: 150px;
  height: 84px;
  background-position: 0px 0px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote :before,
q :before,
blockquote :after,
q :after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.b-main {
  display: block;
  position: absolute;
  width: 100%;
  min-width: 1100px;
  height: 100%;
  min-height: 550px;
  left: 0;
  top: 0;
  background: url("images/background.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}

.b-main:after {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  box-shadow: inset 0 0 0 15px #fff;
}

.b-main--text {
  z-index: 3;
  position: absolute;
  left: 15%;
  top: 40%;
  width: 35%;
  display: block;
  background: rgba(255,255,255,0.3);
  padding: 20px 20px 20px 20px;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}

.b-main--text a {
  font-size: 30px;
  -webkit-font-smoothing: antialiased;
  text-decoration: underline;
  color: #fff;
}

.b-main .s--logo {
  position: relative;
  left: 15%;
  top: 14px;
  z-index: 2;
}

.b-main--links {
  position: relative;
  color: #fff;
  display: block;
  z-index: 3;
  line-height: 70px;
  font-size: 56px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 2px;
  padding-left: 20px;
  padding-right: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  border: 1px solid rgba(255,255,255,0);
}

.b-main--links:hover {
  background: rgba(255,255,255,0.3);
  border: 1px solid #fff;
}

.b-main--links-block {
  position: absolute;
  display: block;
  height: 200px;
  right: 15%;
  top: 50%;
  margin-top: -100px;
  text-align: right;
}

.b-main--footer {
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 10%;
  font-size: 0;
  z-index: 3;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

.b-main--footer li {
  font-size: 16px;
  vertical-align: top;
  color: #fff;
  display: inline-block;
  width: 33%;
}

.b-main--footer_copyright,
.b-main--footer_address,
.b-main--footer_telephone {
  text-align: center;
  display: block;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.b-main--footer_address:before {
  display: inline-block;
  content: '';
  position: absolute;
  width: 8px;
  height: 11px;
  margin-left: -15px;
  margin-top: 4px;
  background: url("images/main-pin.png") no-repeat;
}

.b-main--footer_telephone:before {
  display: inline-block;
  content: '';
  position: absolute;
  width: 6px;
  height: 13px;
  margin-left: -13px;
  margin-top: 3px;
  background: url("images/main-phone.png") no-repeat;
}

@media screen and (max-height: 600px) {
  .b-main--text {
    font-size: 20px;
    top: 35%;
  }
}

.b-header {
  position: relative;
  display: block;
  width: 100%;
  min-width: 800px;
  height: 250px;
  background: url("images/background.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}

.b-header:after {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
}

.b-header--content {
  min-width: 800px;
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
  z-index: 2;
}

.b-header--content .s--header_logo {
  position: relative;
  margin-top: 50px;
  margin-left: 20px;
}

.header--contacts {
  position: absolute;
  bottom: 0;
  right: 20px;
  text-align: right;
  -webkit-font-smoothing: antialiased;
}

.header__telephone a {
  display: block;
  color: #fff;
  font-weight: 700;
  font-size: 40px;
  text-decoration: none;
}

.header__mail {
  display: block;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

.b-content {
  position: relative;
  min-width: 800px;
  max-width: 1200px;
  height: auto;
  position: relative;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  margin-top: 30px;
}

.b-content p,
.b-content a {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.b-content a {
  color: #85a601;
}

.b-footer {
  position: relative;
  display: block;
  width: 100%;
  min-width: 800px;
  height: auto;
  background: #000;
  -webkit-font-smoothing: antialiased;
  padding-top: 15px;
  padding-bottom: 15px;
}

.b-footer .b-main--footer {
  position: relative;
  min-width: 800px;
  margin: 0 auto;
}

.b-service--detailed {
  display: none;
}

.b-service--fotorama {
  display: inline-block;
  width: 30%;
  margin-top: 30px;
}

.b-service--anchor {
  width: 100%;
  font-size: 0;
}

.b-service--anchor li {
  display: inline-block;
  width: 20%;
  height: 130px;
  font-size: 16px;
  text-align: center;
  vertical-align: top;
  margin-bottom: 30px;
}

.b-service--anchor li a {
  display: block;
  width: 100%;
  height: 100%;
  font-style: italic;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.b-service--anchor li p {
  padding-bottom: 0 !important;
  padding-top: 10px;
}

.b-service--anchor_imagewrapper {
  position: relative;
  width: 97%;
  height: 130px;
  margin: 0 auto;
  overflow: hidden;
}

.b-service--anchor_imagewrapper img {
  min-width: 100%;
  height: auto;
  min-height: 100%;
  left: 50%;
  position: relative;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.b-service--items {
  position: relative;
  margin-top: 40px;
}

.b-service--items li {
  display: block;
  margin-bottom: 40px;
  text-align: center;
}

.b-service--items li p {
  text-align: left;
}

.b-service--items li ul {
  margin-left: 20px;
  margin-top: 20px;
  display: none;
}

.b-service--items li ul li {
  text-align: left;
  margin-left: 15px;
}

.b-service--items li ul li:before {
  display: block;
  position: absolute;
  content: '';
  width: 8px;
  height: 8px;
  margin-top: 4px;
  margin-left: -15px;
  background: #2a527f;
  border-radius: 50%;
}

.b-service--items_imagewrapper {
  display: block;
  position: relative;
  width: 33.333333%;
  height: 250px;
  overflow: hidden;
  float: left;
  margin-right: 30px;
  margin-left: 20px;
  margin-bottom: 30px;
  border: 1px solid #ccc;
}

.b-service--items_imagewrapper img {
  max-width: 100%;
  height: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
}

.b-service--items_button {
  width: 350px;
  height: 50px;
  outline: none;
  position: relative;
  border: 1px solid #e95407;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 3px;
  background: #f28900;
  margin-top: 20px;
  margin-bottom: 10px;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}

.b-service--items_button:hover {
  box-shadow: inset 0 -4px 0 0 rgba(0,0,0,0.3);
}

.b-service--items_button:active {
  box-shadow: inset 0 2px 0 1px rgba(0,0,0,0.3);
  top: 2px;
}

.b-service--content {
  display: inline-block;
  width: 58%;
}

.b-service--content p {
  padding: 0 0 20px 0;
}

.b-service--backform {
  width: 100%;
  text-align: left;
}

.b-service--backform .errorMessage {
  color: #e95407;
  font-size: 16px;
  padding-bottom: 5px;
}

.b-service--backform textarea {
  max-width: 50%;
  min-height: 100px;
}

.b-service--backform input,
.b-service--backform textarea {
  width: 50%;
  height: 20px;
  border: 1px solid #ccc;
  outline: none;
  margin-bottom: 5px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.b-service--backform input:focus,
.b-service--backform textarea:focus {
  border: 1px solid #000;
}

.b-service--submit {
  display: block;
  width: 50% !important;
  background: #f28900;
  border-radius: 3px;
  font-size: 18px;
  cursor: pointer;
  min-height: 30px !important;
  border: 1px solid #e95407 !important;
  color: #fff;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.b-service--submit:focus {
  border: 1px solid #e95407 !important;
}

.menu {
  display: block;
  position: relative;
  width: 100%;
  min-width: 800px;
}

.menu:after {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  height: 10px;
  background: #cbd2db;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cbd2db), color-stop(100%, #fff));
  background: -webkit-linear-gradient(top, #cbd2db 0%, #fff 100%);
  background: linear-gradient(to bottom, #cbd2db 0%, #fff 100%);
}

.b-menu {
  min-width: 800px;
  max-width: 1200px;
  height: 50px;
  margin: 0 auto;
  font-size: 0;
  text-align: center;
  vertical-align: top;
}

.b-menu li {
  display: inline-block;
  width: 25%;
}

.b-menu li a {
  color: #cbd2db;
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 12px;
  padding-bottom: 20px;
  font-size: 26px;
  font-weight: bold;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}

.b-menu li a:hover {
  color: #2a527f;
}

.b-menu li.active a {
  color: #000 !important;
}

.popup {
  display: none;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  z-index: 999;
  text-align: center;
}

.popup__text {
  color: #fff;
  position: relative;
  display: block;
  margin-top: 100px;
  font-size: 36px;
  -webkit-font-smoothing: antialiased;
}

.b-error {
  display: block;
  position: relative;
  text-align: center;
  color: #fff;
  z-index: 9;
  padding-top: 100px;
  -webkit-font-smoothing: antialiased;
}

.b-error__link {
  color: #fff;
  font-size: 18px;
  display: block;
  margin-top: 30px;
}

html,
body {
  height: 100%;
}

body {
  font-family: PT Sans;
}

a {
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

p {
  font-size: 16px;
  line-height: 20px;
}

button {
  cursor: pointer;
}

b {
  font-weight: bold;
}

h2 {
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 20px;
  margin-left: 20px;
  -webkit-font-smoothing: antialiased;
}

h3 {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 20px;
  margin-left: 20px;
  -webkit-font-smoothing: antialiased;
  text-align: left;
}

.fotorama_big {
  max-width: 1300px;
  min-width: 900px;
  position: relative;
  margin: 20px auto;
  display: none;
}

.page-wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}

* html .page-wrapper {
  height: 100%;
}

.page-buffer {
  height: 50px;
}